<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tabla-uno`
     * tabla principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaUno extends Polymer.Element {
      static get is() { return 'tabla-uno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-uno'
          }
        };
      }
    }

    window.customElements.define(TablaUno.is, TablaUno);
  </script>
</dom-module>
