<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-uno">
  <template>
    <style>
      :host {
        display: block;
      }
      table{
        width: 500px;
        background-color: #468698;
        border-spacing:none;
        margin: 30px;
        border-radius: 5px;
      }
      tr{
        background-color:#468698;
        height: 20px;
      }
      td{text-align: center}
      h2{text-align: center}
      section{
        height: 250px; 
      }

    </style>

    <section>
    <h2>Tabla Principal</h2>

    <table>
    <thead>
      <tr>
        <td> DATES </td>
        <td> DESCRIPTION </td>
        <td> ACCOUNT </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>

  </template>

  <script>
    /**
     * `tabla-uno`
     * tabla principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaUno extends Polymer.Element {
      static get is() { return 'tabla-uno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabla-uno'
          }
        };
      }
    }

    window.customElements.define(TablaUno.is, TablaUno);
  </script>
</dom-module>
